%p.text-center.alert.alert-info
  Thank you for submitting a request for quote.
  %br
  Over the next 48 hours You will be contacted by email and phone regarding your charter. 
  %br
  Please make sure that you check your Junk files!
