<div class="text-right"><img src="/img/logo.png"></div>
<div>
<h2>Terms and conditions</h2>
<p>
All quote submissions will be pushed to our platform which includes roughly 2000 members. Members will bid based on availability, hours, mileage and day rates. Subout.com does not guarantee any service or prices, we are only here to connect you with bus companies around the country using our platform. Most inquires will receive an immedate response but subout.com does not guarantee a response or an amount of bids. Once a member and a client have been introduced it is up to them to make connection and make the reservation, subout.com has no involvement to this process. Client and vendor agrees to hold subout.com harmless from any damages and service issues that may occur. Client must do its own due diligence when deciding what company to use.
</p>
</div>