%p Sincerely,
%p The SubOut Team
%p
  = image_tag attachments.inline['logo.png'].url , alt: "logo.png"
%p
  SUPPORT: john.monte@subout.com
%p
  Please see our term can conditions -
  = link_to "Click here", "https://#{DEFAULT_HOST_WITH_PORT}/consumers/pages/terms_and_conditions", target: '_blank'