:css
  #outlook a { 
      padding:0; 
  } 

  body{ 
    width:100% !important; 
    min-width: 100%;
    -webkit-text-size-adjust:100%; 
    -ms-text-size-adjust:100%; 
    margin:0; 
    padding:0;
  }